body {
    background-color: gray;
    text-align: center;
    
}

header {
    border: dashed red;
    border-width: 4px;
    height: 12vh;
    margin: 1em;
}

.headerDiv {
    color: goldenrod;
    text-decoration: underline;
    text-shadow: 2px 2px 5px red;
    font-size: 50px;

}

nav {
    display: flex;
    border: dashed blue;
    margin: 1em;
    border-width: 4px;
    height: 12vh;
}

.aSite {
    border: solid green;
    background-color: green;
    margin: 1em;
    padding: 2em;
    font-size: 20px;
}

.wSite {
    border: solid blue;
    background-color: blue;
    margin: 1em;
    padding: 2em;
    font-size: 20px;
}

.sSite {
    border: solid red;
    background-color: red;
    margin: 1em;
    padding: 2em;
    font-size: 20px;
}

.rSite {
    border: solid yellow;
    background-color: yellow;
    margin: 1em;
    padding: 2em;
    font-size: 20px;
}

.sectionContainer {
    /* display: flex; */
    border: dashed green;
    border-width: 4px;
    margin: 1em;
}

section {
    border: solid purple;
    border-width: 0.2px;
    height: 100%;
    
}

table, th, td {
    border: solid black;
}

.prodImage{
    display: inline-block
    
}
.prodImg {
    justify-content: flex-start;
    flex-direction: row;
    border: solid black;
    border-radius: 20%;
    margin: 2em;
    height: 25%;
    width: 25%;
    
}

.rTxt{
    font-size: 50px;
}
.rTxt:hover {
    font-size: 100px;
}